<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <h2>Login</h2>
    <form action="/account/login" method="post">
        <input type="text" name="email" placeholder="Email"/><br />
        <input type="password" name="password" placeholder="Password"/><br />
        <input type="submit" value="Login"/>
    </form>
    <br/>
    <h2>Register</h2>
    <form action="/account/register" method="post">
        <input type="text" name="firstName" placeholder="First Name"/><br />
        <input type="text" name="lastName" placeholder="Last Name"/><br />
        <input type="text" name="email" placeholder="Email"/><br />
        <input type="password" name="password" placeholder="Password"/><br />
        <input type="text" name="occupation" placeholder="Occupation"/><br />
        <input type="submit" value="submit"/>

    <!--<form action="/api/user" method="post">
        <input type="text" name="firstName" placeholder="First Name"/><br />
        <input type="text" name="lastName" placeholder="Last Name"/><br />
        <input type="text" name="email" placeholder="Email"/><br />
        <input type="password" name="password" placeholder="Password"/><br />
        <input type="text" name="occupation" placeholder="Occupation"/><br />
        <input type="submit" value="submit"/>
    </form> -->

    <h2>Post Comment</h2>
    <form action="/api/comment" method="post">
        <input type="text" name="heading" placeholder="Heading"/><br />
        <textarea name="text" rows="4" cols="50">
        </textarea>
        <input type="submit" value="submit"/>
    </form>
  </body>
</html>
